Repository cloudius-systems/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @avikivity, @tgrabiec, @nyh, @elcallio, @vladzcloudius, @haaawk, @gleb-cloudius, @raphaelsc, @penberg, @jul-stas, @asias, @syuu1228

s3_client: Adjust Log Severity in Retry Strategy
  utils/s3/retry_strategy.cc
Owners: @avikivity, @tgrabiec, @nyh

service/storage_proxy: schedule_repair(): materialize the range into a vector
  service/storage_proxy.cc
Owners: @gleb-cloudius

test/alternator: test for scylla_storage_proxy_coordinator metrics
  test/alternator/test_metrics.py
Owners: @avikivity, @tgrabiec, @nyh

DEBUG TESTING FLAKY
  test/cqlpy/test_flaky.py
Owners: @avikivity, @tgrabiec, @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @avikivity, @tgrabiec, @nyh

storage_proxy: stop: close _pending_writes_phaser
  service/storage_proxy.cc
Owners: @gleb-cloudius

replica: table: get abort_source&
  replica/database.cc
  replica/database.hh
  replica/table.cc
  test/boost/mutation_test.cc
  test/lib/test_services.cc
  test/lib/test_services.hh
  test/perf/perf_sstable.hh
Owners: @avikivity, @tgrabiec, @nyh, @haaawk

replica: table: make generate_and_propagate_view_updates abortable
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/table.cc
Owners: @nyh, @avikivity, @tgrabiec

utils: composite_abort_source: tunnel exception_ptr in subscription
  utils/composite_abort_source.hh
Owners: @avikivity, @tgrabiec, @nyh

replica: table: make lock_counter_cells abortable
  cell_locking.hh
  db/view/view_update_generator.cc
  replica/table.cc
  test/boost/cell_locker_test.cc
Owners: @avikivity, @tgrabiec, @nyh

row_locker: make lock_pk and lock_ck abortable
  db/view/row_locking.cc
  db/view/row_locking.hh
  replica/table.cc
  test/boost/view_build_test.cc
  test/manual/row_locker_test.cc
Owners: @nyh, @avikivity, @tgrabiec

s3 client: add aws credentials providers
  configure.py
  main.cc
  test/boost/aws_error_injection_test.cc
  test/boost/s3_test.cc
  test/lib/test_services.cc
  test/perf/perf_s3_client.cc
  test/pylib/s3_proxy.py
  test/pylib/s3_server_mock.py
  utils/CMakeLists.txt
  utils/s3/aws_error.cc
  utils/s3/aws_error.hh
  utils/s3/client.cc
  utils/s3/client.hh
  utils/s3/credentials_providers/aws_credentials_provider.hh
  utils/s3/credentials_providers/aws_credentials_provider_chain.cc
  utils/s3/credentials_providers/aws_credentials_provider_chain.hh
  utils/s3/credentials_providers/config_file_aws_credentials_provider.cc
  utils/s3/credentials_providers/config_file_aws_credentials_provider.hh
  utils/s3/credentials_providers/environment_aws_credentials_provider.cc
  utils/s3/credentials_providers/environment_aws_credentials_provider.hh
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.hh
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
  utils/s3/creds.hh
  utils/s3/retry_strategy.cc
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: @avikivity, @tgrabiec, @nyh

token renewal
  test/pylib/s3_proxy.py
  utils/s3/client.cc
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: @avikivity, @tgrabiec, @nyh

build: s/wasm32-wasi/wasm32-wasip1/
  configure.py
  docs/cql/wasm.rst
  install-dependencies.sh
  test/resource/wasm/rust/CMakeLists.txt
Owners: @avikivity, @tgrabiec, @nyh

scylla-sstable: Enable support for S3-stored sstables
  configure.py
  data_dictionary/storage_options.hh
  db/config.hh
  main.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/test_services.cc
  tools/scylla-sstable.cc
  tools/utils.cc
  tools/utils.hh
  utils/CMakeLists.txt
  utils/s3/client.cc
  utils/s3/client.hh
  utils/s3/creds.hh
  utils/s3/utils/manip_s3.cc
  utils/s3/utils/manip_s3.hh
Owners: @avikivity, @tgrabiec, @nyh, @raphaelsc

commitlog.cc: label metrics with basic_level
  db/commitlog/commitlog.cc
Owners: @elcallio

compaction_manager.cc: label metrics with basic_level
  compaction/compaction_manager.cc
Owners: @avikivity, @tgrabiec, @nyh

Adding the __level and features labels
  configure.py
  utils/CMakeLists.txt
  utils/labels.cc
  utils/labels.hh
Owners: @avikivity, @tgrabiec, @nyh

cdc/log.cc: label metrics with basic_level and cdc
  cdc/log.cc
Owners: @avikivity, @tgrabiec, @nyh

query_processor.cc: label metrics with basic_level
  cql3/query_processor.cc
Owners: @tgrabiec, @penberg

utils/logalloc.cc label metrics with basic_level
  utils/logalloc.cc
Owners: @tgrabiec

gms/gossiper.cc: label metrics with basic_level
  gms/gossiper.cc
Owners: @tgrabiec, @asias

row_cache.cc: label metrics with basic_level
  row_cache.cc
Owners: @tgrabiec, @haaawk

replica/database.cc: label metrics with basic_level
  replica/database.cc
Owners: @avikivity, @tgrabiec, @nyh

alternator: label metrics with basic_level and alternator
  alternator/stats.cc
  alternator/ttl.cc
Owners: @nyh

streaming/stream_manager.cc: label metrics with basic_level
  streaming/stream_manager.cc
Owners: @tgrabiec, @asias

service/storage_service.cc: label metrics with basic_level
  service/storage_service.cc
Owners: @tgrabiec, @asias

db/hints/manager.cc: label metrics with basic_level
  db/hints/manager.cc
Owners: @avikivity, @tgrabiec, @nyh

repair/repair.cc: label metrics with basic_level
  repair/repair.cc
Owners: @tgrabiec, @asias, @nyh

sstables.cc: label metrics with basic_level
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

main.cc: label metrics with basic_level
  main.cc
Owners: @avikivity, @tgrabiec, @nyh

transport/server.cc: label metrics with basic_level
  transport/server.cc
Owners: @penberg

db/view/view.cc: label metrics with basic_level
  db/view/view.cc
Owners: @nyh

service/storage_proxy.cc: label metrics with basic_level and cas
  service/storage_proxy.cc
Owners: @gleb-cloudius

scylla-sstable: Enable support for S3-stored sstables
  tools/scylla-sstable.cc
Owners: @avikivity, @tgrabiec, @nyh

alter_keyspace_statement: Include tablets information in system.topology
  cql3/statements/alter_keyspace_statement.cc
  test/cqlpy/test_logs.py
Owners: @avikivity, @tgrabiec, @nyh

scylla-sstable: Enable support for S3-stored sstables
  test/boost/s3_test.cc
  test/boost/schema_change_test.cc
Owners: @avikivity, @tgrabiec, @nyh

scylla-sstable: Enable support for S3-stored sstables
  test/boost/aws_error_injection_test.cc
  test/perf/perf_s3_client.cc
Owners: @avikivity, @tgrabiec, @nyh

storage_proxy: allow multiple truncate table fibers per shard
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy: wait on already running truncate for the same table
  service/storage_proxy.cc
Owners: @gleb-cloudius

.github/CODEOWNERS:

# THE REST
* @avikivity @tgrabiec @nyh

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh
cql3/statements/*view* @nyh

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg
cql3/statements/*index* @nyh @penberg

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
alternator-test/* @nyh
