Repository cloudius-systems/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @avikivity, @tgrabiec, @nyh, @elcallio, @vladzcloudius, @haaawk, @gleb-cloudius, @raphaelsc, @penberg, @jul-stas, @asias, @syuu1228

truncate: add additional logging and improve error message during truncate
  service/storage_proxy.cc
Owners: @gleb-cloudius

test: add test for re-cycling ongoing truncate operations
  test/topology_custom/test_truncate_with_tablets.py
Owners: @avikivity, @tgrabiec, @nyh

build: update frozen toolchain to Fedora 41 with clang 19
  configure.py
  tools/toolchain/0001-Instrumentation-Fix-EdgeCounts-vector-size-in-SetBra.patch
  tools/toolchain/Dockerfile
  tools/toolchain/image
  tools/toolchain/optimized_clang.sh
Owners: @avikivity, @tgrabiec, @nyh

build: limit ThinLTO link parallelism to prevent OOM in release builds
  cmake/limit_jobs.cmake
  configure.py
Owners: @avikivity, @tgrabiec, @nyh

install.sh: address shellcheck warnings
  install.sh
Owners: @avikivity, @tgrabiec, @nyh

alternator, test: add reproducer for issue about immediate LWT timeout
  test/topology_custom/test_alternator.py
Owners: @avikivity, @tgrabiec, @nyh

streaming: Fail stream plan on stream_mutation_fragments handler in case of error
  streaming/stream_manager.cc
  streaming/stream_manager.hh
  streaming/stream_plan.cc
  streaming/stream_session.cc
  test/pylib/rest_client.py
  test/topology_custom/test_tablets2.py
Owners: @tgrabiec, @asias, @avikivity, @nyh

db: add per-table tablet_hints schema extension
  configure.py
  cql3/statements/cf_prop_defs.cc
  cql3/statements/cf_prop_defs.hh
  data_dictionary/data_dictionary.cc
  data_dictionary/data_dictionary.hh
  data_dictionary/keyspace_metadata.hh
  db/CMakeLists.txt
  db/tablet_hints.cc
  db/tablet_hints.hh
  db/tablet_hints_extension.hh
  docs/cql/ddl.rst
  main.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  test/cqlpy/test_describe.py
Owners: @avikivity, @tgrabiec, @nyh

tablet_allocator: consider tablet_hints for resize decision
  locator/tablets.hh
  service/tablet_allocator.cc
  service/tablet_allocator.hh
  test/boost/tablets_test.cc
Owners: @avikivity, @tgrabiec, @nyh

cql3: data_dictionary: format keyspace_metadata: print "enabled":true when initial_tablets=0
  data_dictionary/data_dictionary.cc
Owners: @avikivity, @tgrabiec, @nyh

network_topology_strategy: calculate_initial_tablets_from_topology: precalculate shards per dc using topology::for_each_node
  locator/network_topology_strategy.cc
Owners: @avikivity, @tgrabiec, @nyh

network_topology_strategy: calculate_initial_tablets_from_topology: set default rf to 0
  locator/network_topology_strategy.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: resize_decision: get rid of initial_decision
  locator/tablets.cc
  locator/tablets.hh
Owners: @avikivity, @tgrabiec, @nyh

cql3/create_keyspace_statement: add deprecation warning for initial tablets
  cql3/statements/create_keyspace_statement.cc
  docs/cql/ddl.rst
Owners: @avikivity, @tgrabiec, @nyh

network_topology_strategy: allocate_tablets_for_new_table: consider tablet hints
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
  service/tablet_allocator.cc
  test/boost/network_topology_strategy_test.cc
  test/perf/tablet_load_balancing.cc
Owners: @avikivity, @tgrabiec, @nyh

tablet_allocator: load_balancer: table_size_desc: keep target_tablet_size as member
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

test: cqlpy: test_tables: add test_tablet_hints
  test/cqlpy/test_tablets.py
Owners: @avikivity, @tgrabiec, @nyh

topology_coordinator: add injection which makes upgrade get stuck
  service/topology_coordinator.cc
Owners: @avikivity, @tgrabiec, @nyh

raft: add error injection that drops append_entries
  service/raft/raft_group_registry.cc
Owners: @avikivity, @tgrabiec, @nyh

encryption_config: Mention environment in credential sources for KMS
  ent/encryption/encryption_config.cc
Owners: @avikivity, @tgrabiec, @nyh

db/system_keyspace: add `built_tablet_views` table
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/raft/group0_state_machine.cc
Owners: @avikivity, @tgrabiec, @nyh

db/system_keyspace: add `view_building_coordinator_tasks` table
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/raft/group0_state_machine.cc
  service/view_building_coordinator.hh
Owners: @avikivity, @tgrabiec, @nyh

test/topology_custom: add test for view_building_coordinator
  test/topology_custom/test_view_building_coordinator.py
Owners: @avikivity, @tgrabiec, @nyh

service/storage_service: run view building coordinator
  db/view/view.cc
  gms/feature_service.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @nyh, @tgrabiec, @asias

service: introduce view building coordinator
  configure.py
  service/CMakeLists.txt
  service/view_building_coordinator.cc
  service/view_building_coordinator.hh
Owners: @avikivity, @tgrabiec, @nyh

db/view: introduce view building worker
  db/view/view.cc
  db/view/view_building_worker.hh
  main.cc
Owners: @nyh, @avikivity, @tgrabiec

message/messaging_service: add vb_coordinator RPCs
  idl/view.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
Owners: @avikivity, @tgrabiec, @nyh

db/system_keyspace: `load_all_views()` helper function
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: @avikivity, @tgrabiec, @nyh

service/vb_coordinator: add currently processing base
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
  service/view_building_coordinator.cc
Owners: @avikivity, @tgrabiec, @nyh, @asias

service/vb_coordinator: abort work on `stop()`
  service/view_building_coordinator.cc
Owners: @avikivity, @tgrabiec, @nyh

service/vb_coordinator: add range building functionality
  service/view_building_coordinator.cc
  service/view_building_coordinator.hh
Owners: @avikivity, @tgrabiec, @nyh

kms_host: Support authn with temporary security credentials
  ent/encryption/encryption_config.cc
  ent/encryption/kms_host.cc
  ent/encryption/kms_host.hh
Owners: @avikivity, @tgrabiec, @nyh

doc: Expose new `aws_session_token` option for KMS hosts
  docs/operating-scylla/security/encryption-at-rest.rst
Owners: @avikivity, @tgrabiec, @nyh

token renewal
  test/pylib/s3_proxy.py
  utils/s3/client.cc
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: @avikivity, @tgrabiec, @nyh

probably a bug fix
  utils/s3/client.cc
Owners: @avikivity, @tgrabiec, @nyh

wip
  s3_terics.json
  test/boost/s3_test.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: @avikivity, @tgrabiec, @nyh

wip
  test/boost/s3_test.cc
  utils/s3/client.cc
Owners: @avikivity, @tgrabiec, @nyh

s3 client: add aws credentials providers
  configure.py
  main.cc
  test/boost/aws_error_injection_test.cc
  test/boost/s3_test.cc
  test/lib/test_services.cc
  test/perf/perf_s3_client.cc
  test/pylib/s3_proxy.py
  test/pylib/s3_server_mock.py
  utils/CMakeLists.txt
  utils/s3/aws_error.cc
  utils/s3/aws_error.hh
  utils/s3/client.cc
  utils/s3/client.hh
  utils/s3/credentials_providers/aws_credentials_provider.hh
  utils/s3/credentials_providers/aws_credentials_provider_chain.cc
  utils/s3/credentials_providers/aws_credentials_provider_chain.hh
  utils/s3/credentials_providers/config_file_aws_credentials_provider.cc
  utils/s3/credentials_providers/config_file_aws_credentials_provider.hh
  utils/s3/credentials_providers/environment_aws_credentials_provider.cc
  utils/s3/credentials_providers/environment_aws_credentials_provider.hh
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.hh
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
  utils/s3/creds.hh
  utils/s3/retry_strategy.cc
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: @avikivity, @tgrabiec, @nyh

docs/alternator: document two more unimplemented Alternator features
  docs/alternator/compatibility.md
Owners: @avikivity, @tgrabiec, @nyh

alternator: add "LimitExceededException" error type
  alternator/error.hh
Owners: @nyh

.github/CODEOWNERS:

# THE REST
* @avikivity @tgrabiec @nyh

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh
cql3/statements/*view* @nyh

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg
cql3/statements/*index* @nyh @penberg

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
alternator-test/* @nyh
