Repository cloudius-systems/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @avikivity, @tgrabiec, @nyh, @elcallio, @vladzcloudius, @haaawk, @gleb-cloudius, @raphaelsc, @penberg, @jul-stas, @asias, @syuu1228

alternator: add IndexStatus/Backfilling in DescribeTable
  alternator/executor.cc
  test/alternator/test_gsi.py
Owners: @nyh, @avikivity, @tgrabiec

test.py: new Python dependencies for dtest->test.py migration
  install-dependencies.sh
  tools/toolchain/image
Owners: @avikivity, @tgrabiec, @nyh

view_info: set base info on construction
  alternator/executor.cc
  cql3/statements/alter_table_statement.cc
  cql3/statements/create_view_statement.cc
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  index/secondary_index_manager.cc
  replica/database.cc
  replica/table.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  test/boost/cql_query_test.cc
  test/boost/schema_registry_test.cc
  tools/schema_loader.cc
  view_info.hh
Owners: @nyh, @avikivity, @tgrabiec

schema_applier: make updates to tables and views atomic
  db/schema_applier.cc
Owners: @tgrabiec, @nyh

statements: update all views when altering base schema
  alternator/executor.cc
  cql3/statements/alter_table_statement.cc
  cql3/statements/alter_type_statement.cc
  cql3/statements/create_index_statement.cc
  cql3/statements/drop_index_statement.cc
  db/system_distributed_keyspace.cc
  db/tags/utils.cc
Owners: @nyh, @avikivity, @tgrabiec, @penberg

view: remove legacy code for non-computed column indexes
  db/view/view.cc
Owners: @nyh

alter_table_statement: fix renaming multiple columns in tables with views
  cql3/statements/alter_table_statement.cc
Owners: @avikivity, @tgrabiec, @nyh

view_info: don't re-set base_info after construction
  db/schema_applier.cc
  db/view/view.cc
  replica/database.cc
  replica/table.cc
  schema/schema.cc
  schema/schema_registry.cc
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @avikivity

test: add test for schema registry maintaining base info for views
  test/boost/schema_registry_test.cc
Owners: @tgrabiec, @nyh

view_info: make base_info immutable in view schemas
  db/view/view.cc
  db/view/view.hh
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/table.cc
  schema/schema.cc
  schema/schema_registry.cc
  view_info.hh
Owners: @nyh, @avikivity, @tgrabiec

mv: update schemas for view building on base schema update
  db/view/view.cc
  db/view/view_builder.hh
  service/migration_listener.hh
Owners: @nyh, @tgrabiec

mv: add a test for dropping an index while it's building
  db/view/view.cc
  test/topology_custom/test_mv_building.py
Owners: @nyh, @avikivity, @tgrabiec

tablets: network_topology_stragy: Coroutinize calculate_initial_tablets_from_topology()
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: Set default initial tablet count scale to 10
  db/config.cc
  test/cqlpy/suite.yaml
  test/rest_api/suite.yaml
  test/topology_custom/test_major_compaction.py
  test/topology_custom/test_tablets.py
Owners: @avikivity, @tgrabiec, @nyh

tablets: Change the meaning of initial_scale to mean min-avg-tablets-per-shard
  db/config.cc
  locator/network_topology_strategy.cc
Owners: @avikivity, @tgrabiec, @nyh

locator: network_topology_strategy: Simplify calculate_initial_tablets_from_topology()
  locator/network_topology_strategy.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets, topology: Introduce tablets_per_shard_goal config
  db/config.cc
  db/config.hh
  main.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: Use scheduler's make_sizing_plan() to decide about tablet count of a new table
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
  service/tablet_allocator.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: @avikivity, @tgrabiec, @nyh

main, config: Always register tablet_hints extension
  db/config.cc
  main.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: Add formatter for resize_decision::way_type
  locator/tablets.cc
  locator/tablets.hh
Owners: @avikivity, @tgrabiec, @nyh

tablets: load_balancer: Keep config items as instance members
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: load_balancer: Extract make_sizing_plan()
  locator/tablets.hh
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: load_balancer: Simplify resize_urgency_cmp()
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

locator: network_topology_startegy: Ignore leaving nodes when computing capacity for new tables
  locator/network_topology_strategy.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: load_balancer: Scale down tablet count to respect per-shard tablet count goal
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: load_balancer: Extract get_schema_and_rs()
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets: load_balancer: Move hints processing to tablet scheduler
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets, load_balancer: Log reason for target tablet count
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

tablets, load_balancer: Fix and improve logging of resize decisions
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

mv: introduce regular_column_transformation, a new type of computed column
  db/view/regular_column_transformation.hh
Owners: @nyh

alternator: add function serialized_value_if_type()
  alternator/serialization.cc
  alternator/serialization.hh
Owners: @nyh

build: in cmake build, schema needs alternator
  schema/CMakeLists.txt
Owners: @tgrabiec, @nyh

alternator: add new materialized-view computed column for item in map
  alternator/executor.cc
  alternator/extract_from_attrs.hh
  schema/schema.cc
Owners: @nyh, @tgrabiec

build: build tests with Alternator
  configure.py
Owners: @avikivity, @tgrabiec, @nyh

mv: support regular_column_transformation key columns in view
  db/view/view.cc
  db/view/view.hh
  mutation/mutation_partition.cc
Owners: @nyh, @tgrabiec, @haaawk

test/alternator: remove xfail from all tests for issue 11567
  test/alternator/test_cql_rbac.py
  test/alternator/test_gsi_updatetable.py
Owners: @avikivity, @tgrabiec, @nyh

docs/alternator: adding a GSI is no longer an unimplemented feature
  docs/alternator/compatibility.md
Owners: @avikivity, @tgrabiec, @nyh

alternator: overhaul implementation of GSIs and support UpdateTable
  alternator/executor.cc
Owners: @nyh

test/alternator: work around unrelated bug causing test flakiness
  test/alternator/test_gsi_updatetable.py
Owners: @avikivity, @tgrabiec, @nyh

test/alternator: unflake test for IndexStatus
  test/alternator/test_gsi.py
  test/alternator/test_gsi_updatetable.py
  test/alternator/util.py
Owners: @avikivity, @tgrabiec, @nyh

.github/CODEOWNERS:

# THE REST
* @avikivity @tgrabiec @nyh

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh
cql3/statements/*view* @nyh

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg
cql3/statements/*index* @nyh @penberg

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
alternator-test/* @nyh
