Repository cloudius-systems/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @avikivity, @tgrabiec, @nyh, @elcallio, @vladzcloudius, @haaawk, @gleb-cloudius, @raphaelsc, @penberg, @jul-stas, @asias, @syuu1228

mv: clean up do_delete_old_entry
  db/view/view.cc
Owners: @nyh

alternator: fix view build on oversized GSI key attribute
  db/view/regular_column_transformation.hh
  test/alternator/test_gsi.py
  test/alternator/test_gsi_updatetable.py
Owners: @nyh, @avikivity, @tgrabiec

kmip: Move kmip_host to use (mainly) std::string
  ent/encryption/kmip_host.cc
  ent/encryption/kmip_host.hh
Owners: @avikivity, @tgrabiec, @nyh

Add libkmip submodule
  .gitmodules
Owners: @avikivity, @tgrabiec, @nyh

Build and link against libkmip
  configure.py
  ent/encryption/CMakeLists.txt
  ent/encryption/kmip_host.cc
  ent/encryption/kmip_host.hh
  test/boost/encryption_at_rest_test.cc
Owners: @avikivity, @tgrabiec, @nyh

db: config: change enable_tablets to enum_option type
  cql3/statements/ks_prop_defs.cc
  db/config.cc
  db/config.hh
  gms/feature_service.cc
  test/boost/commitlog_cleanup_test.cc
  test/boost/cql_query_test.cc
  test/boost/sstable_set_test.cc
  test/boost/tablets_test.cc
  test/perf/perf_simple_query.cc
  test/perf/perf_tablets.cc
Owners: @avikivity, @tgrabiec, @nyh, @asias

tablets: enforce tablets using enable_tablets=force config option
  conf/scylla.yaml
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
  db/config.cc
  db/config.hh
  docs/architecture/tablets.rst
  test/boost/tablets_test.cc
Owners: @avikivity, @tgrabiec, @nyh

boost/tablets_test: verify failure to create keyspace with tablets and non network replication strategy
  test/boost/tablets_test.cc
Owners: @avikivity, @tgrabiec, @nyh

test/perf/s3: Configure maximum number of sockets
  test/perf/perf_s3_client.cc
Owners: @avikivity, @tgrabiec, @nyh

test/perf/s3: Remove parallelizm
  test/perf/perf_s3_client.cc
Owners: @avikivity, @tgrabiec, @nyh

s3/client: Make http client connections limit configurable
  utils/s3/client.cc
  utils/s3/creds.hh
Owners: @avikivity, @tgrabiec, @nyh

test/perf/s3: Some renames not to be download-centric
  test/perf/perf_s3_client.cc
Owners: @avikivity, @tgrabiec, @nyh

test/perf/s3: Add --part-size-mb option for upload test
  test/perf/perf_s3_client.cc
Owners: @avikivity, @tgrabiec, @nyh

test/perf/s3: Make object/file name configurable
  test/perf/perf_s3_client.cc
Owners: @avikivity, @tgrabiec, @nyh

test/perf/s3: Add uploading test
  test/perf/perf_s3_client.cc
Owners: @avikivity, @tgrabiec, @nyh

topology_coordinator: do not schedule migrations for tables waiting for resize finalization
  service/topology_coordinator.cc
Owners: @avikivity, @tgrabiec, @nyh

topology_coordinator: introduce `generate_resize_finalization_updates()`
  service/topology_coordinator.cc
Owners: @avikivity, @tgrabiec, @nyh

load_balancer: do not make repair plans for tables waiting for resize finalization
  service/tablet_allocator.cc
Owners: @avikivity, @tgrabiec, @nyh

topology_coordinator: generate plans for migration during finalization
  service/topology_coordinator.cc
Owners: @avikivity, @tgrabiec, @nyh

topology_coordinator: handle_table_migration: do not continue after executing metadata barrier
  service/topology_coordinator.cc
Owners: @avikivity, @tgrabiec, @nyh

topology_coordinator: handle resize finalizations within tablet_migration state
  service/topology_coordinator.cc
  test/topology_custom/test_tablets.py
Owners: @avikivity, @tgrabiec, @nyh

test/cqlpy: fix some false failures on Cassandra
  test/cqlpy/conftest.py
  test/cqlpy/test_compaction_strategy_validation.py
  test/cqlpy/test_service_level_api.py
  test/cqlpy/test_tablets.py
  test/cqlpy/test_tombstone_limit.py
Owners: @avikivity, @tgrabiec, @nyh

alternator: document the state of tablet support in Alternator
  docs/alternator/new-apis.md
  test/alternator/test_streams.py
  test/alternator/test_tablets.py
  test/alternator/test_ttl.py
Owners: @avikivity, @tgrabiec, @nyh

raft topology: Add support for raft topology system tables initialization to happen before group0 initialization
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/qos/service_level_controller.cc
  service/raft/group0_state_machine.cc
  service/raft/group0_state_machine.hh
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @avikivity, @tgrabiec, @nyh, @asias

Remove the variable _manage_topology_change_kind_from_group0
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

treewide: allow recreating group 0 in the Raft-based recovery procedure
  db/config.cc
  db/config.hh
  service/raft/raft_group0.cc
  service/storage_service.cc
Owners: @avikivity, @tgrabiec, @nyh, @asias

gossip: allow group 0 ID mismatch in the Raft-based recovery procedure
  db/config.cc
  gms/gossiper.cc
  gms/gossiper.hh
  main.cc
Owners: @avikivity, @tgrabiec, @nyh, @asias

test: topology: util: adjust check_system_topology_and_cdc_generations_v3_consistency to left nodes
  test/topology/util.py
Owners: @avikivity, @tgrabiec, @nyh

raft_group0: modify_raft_voter_status: do not add new members
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
Owners: @avikivity, @tgrabiec, @nyh

test: topology: util: extend start_writes
  test/topology/util.py
Owners: @avikivity, @tgrabiec, @nyh

test: add tests for the Raft-based recovery procedure
  service/storage_service.cc
  test/topology/util.py
  test/topology_custom/test_raft_recovery_during_join.py
  test/topology_custom/test_raft_recovery_entry_loss.py
  test/topology_custom/test_raft_recovery_user_data.py
Owners: @tgrabiec, @asias, @avikivity, @nyh

test: mark tests with the gossip-based recovery procedure
  test/auth_cluster/test_auth_v2_migration.py
  test/auth_cluster/test_raft_service_levels.py
  test/topology_custom/test_group0_schema_versioning.py
  test/topology_custom/test_raft_fix_broken_snapshot.py
  test/topology_custom/test_raft_recovery_basic.py
  test/topology_custom/test_raft_recovery_majority_loss.py
  test/topology_custom/test_raft_recovery_stuck.py
  test/topology_custom/test_topology_recovery_basic.py
Owners: @avikivity, @tgrabiec, @nyh

test.py: Modify s3 server mock
  test/pylib/s3_proxy.py
  test/pylib/s3_server_mock.py
Owners: @avikivity, @tgrabiec, @nyh

test.py: Add method to get environment variables from MinIO wrapper
  test/pylib/minio_server.py
Owners: @avikivity, @tgrabiec, @nyh

test.py: Move get configured modes to common lib
  test.py
  test/pylib/util.py
Owners: @avikivity, @tgrabiec, @nyh

test.py: Add discovery for C++ tests for pytest
  test/conftest.py
  test/pylib/cpp/__init__.py
  test/pylib/cpp/common_cpp_conftest.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/item.py
  test/pylib/report_plugin.py
  test/pylib/util.py
  test/topology/conftest.py
Owners: @avikivity, @tgrabiec, @nyh

auth: added password_authenticator_start_pause injected error
  auth/password_authenticator.cc
Owners: @elcallio, @vladzcloudius

auth: ensure default superuser password is set before serving CQL
  auth/allow_all_authenticator.hh
  auth/authenticator.hh
  auth/certificate_authenticator.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/transitional.cc
Owners: @elcallio, @vladzcloudius

docs: redirect to docs.scylladb.com/manual/
  docs/_templates/version-warning.html
  docs/conf.py
Owners: @avikivity, @tgrabiec, @nyh

test: Test truncate during topology change
  test/topology_custom/test_tablets2.py
Owners: @avikivity, @tgrabiec, @nyh

.github/CODEOWNERS:

# THE REST
* @avikivity @tgrabiec @nyh

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh
cql3/statements/*view* @nyh

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg
cql3/statements/*index* @nyh @penberg

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
alternator-test/* @nyh
